// Font
$mainFont                : 'Roboto', sans-serif;

// Size
$mainFontColor           : #3b3b3b;
$mainFontSize            : 16px;
$mainLineHeight          : 1.4;

$desktopWidth            : 1360px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : #ff8900;
$danger-color            : #ff4800;
$gray-color              : #696969;
$mnu-no-active-color     : #c2c2c2;
$login-color             : #afb9c6;
$border-color            : #dbdbdb;
$facebook                : #3b5998;
$twitter                 : #41abe1;
$google                  : #ea4335;
$border-action           : #e4e4e4;
$border-mnu              : #f1f1f1;
$orange                  : #db7200;
$search-color            : #f5f5f5;
$tab-header-color        : #606a76;
$yellow-color            : #ffc925;
$select-color            : #9c9c9c;

$mark-card               : #f2f2f2;
$mark-color              : #848484;

$review-color            : #9b9b9b;
$prop-color-card         : #91959a;

$new-color               : #2eb68e;
$hit-color               : #a25fd1;
$sale-color              : #e33c53;
$price-sale-color        : #989898;
$sale-border-color       : #e00000;

$footer-title-color      : #cbcbcb;
$foote-border-titel      : #7a7a7a;

$social-border           : #7b8092;